extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Steven Vallarsa

        p Full Stack JavaScript Developer (MERN Stack)
        p Java Developer

        .about-bio

          p After careers in graphic design, newspaper publication, sign making, artwork reproduction, and manufacturing production, I've reignited my long dormant passion for coding. Starting with a few online courses, I ramped up my education by successfully completing bootcamps in C# .NET as well as full- stack JavaScript web and mobile development. In the past year I have also completed career-track training in Java and am now working through a full-stack JavaScript “Techdegree” program in order to keep my skillset up to date. I bring with me a lifetime of diverse experiences that makes me an outstanding candidate to fill positions where I may be nurtured to quickly grow and blossom into mid- and senior-level roles within the organization. 


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Node
          li Express
          li Pug
          li MongoDB
          li React
          li Router
          li Redux
          li Java 
          li Maven 
          li Spring
          li C#
          li .Net
          li Git and GitHub
          li VS Code
          li Visual Studio
          li Eclipse 
          li Netbeans


        h6 Contact Info

        ul
          li (616) 848-1920
          li stevenvallarsa@gmail.com

        a.btn-link(href='http://www.linkedin.com/in/stevenvallarsa' target='_blank') LinkedIn
        a.btn-link(href='http://www.github.com/stevenvallarsa' target='_blank') GitHub
        a.btn-link(href='http://stevenvallarsa.github.io' target='_blank') Portfolio

    nav.nav
      a(href='/')
        span &larr;
        |  Back