extends layout.pug

block content

  article.portfolio-intro

    h1 Coding Projects

    p My running projects you can take a peek at


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data file  
      
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text

          
      each project in projects
        .cell
          a(href=`${project.live_link}`)
            img.thumbnail(src=`project.image_url[0]`, alt=`Thumbnail for ${project.project_name}`)
            h5 #{project.project_name}
      
